.footer-custom_ct {
    background-color: #334ca6;

}
.imagenToro {
    opacity: 0.1;
    background-image: url("http://chiletraders.repuestosgafa.cl/assets/image/wall-street-toro-rect.jpg");
    background-size: 80% 100%;
}
